ul {
    list-style: none;
}

v-slider {
    display: inline-block;
    width: 65%;
}

h1 {
    margin: .1em;
}

p {
    margin: 1em;
}
table, th, td {
    border: 1px solid black;
}

body, #app{
    background-color: #0a1a25;
}

