<html>
<head>
    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="./../lib/vuetify.min.css" rel="stylesheet">
    <link href="./../src/overrides.css" rel="stylesheet">

    <!---js--->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="./../src/models/CharacterClass.js"></script>
    <script src="./../src/models/CraftingMaterialClass.js"></script>
    <script src="./../src/models/WeaponClass.js"></script>
    <script src="./../src/models/BookClass.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-firestore.js"></script>
    <script>
        //const firebase = require("firebase");
        // Required for side-effects
        //require("firebase/firestore");
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBdVlepcM0i1rf6A3vRE6FWwnM_bxukKKM",
            authDomain: "unit2project-cfc26.firebaseapp.com",
            databaseURL: "https://unit2project-cfc26.firebaseio.com",
            projectId: "unit2project-cfc26",
            storageBucket: "unit2project-cfc26.appspot.com",
            messagingSenderId: "592749984607"
        };
        firebase.initializeApp(config);

        var db = firebase.firestore();
    </script>
    <script src="./../lib/vue.js"></script>
    <script src="./../lib/vuetify.js"></script>
    <script src="./../src/components.js"></script>
    <script src="./../src/app.js"></script>

    <!--meta-->
    <title>Book Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel=icon href=./../assets/favicon.ico sizes="16x16" type="image/png">
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container class="appContainer">
                <v-layout row wrap>
                    <v-card dark color="black">
                        <div id="changeButtons">
                            <v-btn class="topNav" v-if="!showNameField" color="success" v-on:click="onButtonClickName">rename your buddy!</v-btn>
                            <v-btn class="topNav" v-if="showNameField" color="warning" v-on:click="onButtonClickName">Done</v-btn>
                            <v-btn class="topNav" color="success" v-on:click="onButtonClickFeed">Feed your buddy!</v-btn>
                            <v-btn class="topNav" color="primary" v-on:click="onButtonClickTutor">Buddy Care College</v-btn>
                            <v-btn class="topNav" color="success" v-on:click="onButtonClickLogPages">Log pages</v-btn>
                            <v-btn class="topNav" color="warning" v-on:click="onButtonClickBook"><i class="material-icons">book</i></v-btn>
                            <input v-if="showNameField" type="text" v-model="currentWeapon.name">
                        </div>
                        <v-inventory v-if="showInventory" id="inventory" :inventory-items="craftingMaterials" :current-weapon="currentWeapon"
                                :current-character="currentCharacter" style="max-height: 300px; overflow-y: scroll">

                        </v-inventory>
                    </v-card>
                </v-layout>
            </v-container>
            <img id="buddy":src="buddyImageRef">
            <v-stats-screen :current-character="currentCharacter" :current-weapon="currentWeapon"></v-stats-screen>
            <v-tutor-window v-if="showTutorPane" :tutor-text="tutorText"></v-tutor-window>
            <v-book-settings-pane v-if="settingsPaneIsOpen" :book-meta-data="currentBook" :cover-image="coverImageURL"></v-book-settings-pane>
            <v-page-log v-if="showPageLog" :page-items="pageItems" :book-meta-data="currentBook"></v-page-log>
        </v-content>
    </v-app>
</div>
</body>
</html>